<div class="main-page container">
  <div class="row">
    <div class="col">
      <h1>Servercontrol</h1>
    </div>
  </div>
  <server-list *ngIf="auth" [serverList]="serverStatusList" (logoutEvent)="logout()"></server-list>
  <login *ngIf="!auth" (auth)="setAuth($event)"></login>
</div>
<app-version-info></app-version-info>
