<div class="row">
  <div class="col">
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Anmelden</h4>
        <form>
          <div class="form-group">
            <label>Benutzername</label>
            <input name="username" class="form-control" placeholder="Benutzername" type="text" [(ngModel)]="username">
          </div> <!-- form-group// -->
          <div class="form-group">
            <label>Passwort</label>
            <input name="password"
                   class="form-control"
                   placeholder="******"
                   type="password"
                   [(ngModel)]="password"
                   (keypress)="keyPress($event)"
            >
          </div> <!-- form-group// -->
          <ngb-alert *ngIf="failed" [dismissible]="false" [type]="'danger'">
            {{errorMsg}}
          </ngb-alert>
          <div class="form-group">
            <button type="button"
                    class="btn btn-primary btn-block"
                    (click)="updateLoginData()"
                    [disabled]="waiting"
                    [class.btn-primary]="!waiting"
                    [class.btn-secondary]="waiting"
            >
              <ng-container *ngIf="!waiting">Login</ng-container>
              <span *ngIf="waiting" class="spinner-border spinner-border-sm text-light" role="status">
                <span class="sr-only">Loading...</span>
              </span>
            </button>
          </div> <!-- form-group// -->
        </form>
      </article>
    </div>
  </div>
</div>

