<div class="version-info d-inline-flex">
  <div class="m-3">
    <a href="https://gitlab.com/jstorch/servercontrol/-/blob/master/CHANGELOG.md" target="_blank" style="color: grey">
      Frontend Version: {{frontendVersion}}
    </a>
  </div>
  <div *ngIf="backendVersion !== undefined" class="m-3">
    <a href="https://gitlab.com/jstorch/servercontrol/-/blob/master/CHANGELOG.md" target="_blank" style="color: grey">
      Backend Version: {{backendVersion}}
    </a>
  </div>
  <div *ngIf="apiVersion !== undefined" class="m-3">
    <a href="https://gitlab.com/jstorch/servercontrol/-/blob/master/CHANGELOG.md" target="_blank" style="color: grey">
      API Version: {{apiVersion}}
    </a>
  </div>
</div>
