<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Server</th>
        <th scope="col">Status</th>
        <th scope="col">Statusnachricht</th>
        <th scope="col">Domain</th>
        <th scope="col">IPv4</th>
        <th scope="col">IPv6</th>
        <th scope="col">Start/Stop</th>
      </tr>
      </thead>
      <tr *ngFor="let server of serverList">
        <th>{{server.name}}</th>
        <td [class.warning-red]="server.statusCode !== 2 && server.statusCode !== 1 && server.statusCode !== 3"
            [class.warning-yellow]="server.statusCode === 2"
            [class.running-green]="server.statusCode === 1 || server.statusCode === 3"
        >
          <span
            *ngIf="server.statusCode >= 0 && server.statusCode <= 3"
            class="bi bi-circle-fill"
          ></span>
          <span
            *ngIf="server.statusCode < 0 || server.statusCode > 3"
            class="bi bi-exclamation-circle-fill"
          >
          </span>
        </td>
        <td>
          <ng-template #popover>
            <div *ngFor="let msg of server.statusHover">
              {{msg}}
            </div>
          </ng-template>
          <div [ngbPopover]="popover" container="body" [disablePopover]="server.statusHover.length < 1"
               [class.cursor-pointer]="server.statusHover.length > 0"
          >
            {{server.status}}
          </div>
        </td>
        <td>{{server.domain == null ? "" : server.domain}}</td>
        <td>{{server.ipv4}}</td>
        <td>{{server.ipv6}}</td>
        <td>
          <button *ngIf="!waitingForUpdate && server.statusCode === 0" type="button" class="btn btn-primary"
                  (click)="startServer(server)"
                  [disabled]="server.allowedActions !== 'STOP' && server.allowedActions !== 'START'"
                  [ngbTooltip]="server.allowedActions !== 'STOP' && server.allowedActions !== 'START' ? 'Unzureichend Berechtigungen' : undefined"
          >
            Start
          </button>
          <button *ngIf="!waitingForUpdate && (server.statusCode === 1 || server.statusCode === 3)"
                  type="button" class="btn btn-danger"
                  (click)="stopServer(server)"
                  [disabled]="server.allowedActions !== 'STOP' || server.statusCode === 3"
                  [ngbTooltip]="server.allowedActions !== 'STOP' ? 'Unzureichend Berechtigungen' : undefined"
          >
            Stop
          </button>
          <div *ngIf="waitingForUpdate || server.statusCode == 2" class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </td>
      </tr>
    </table>

    <div class="mb-2">
      Eingeloggt als: {{getUserName()}}
    </div>
    <div>
      <div class="d-flex align-content-center">
        <button type="button" class="btn btn-secondary mr-3" (click)="logout()">
          Abmelden
        </button>
        <button type="button" class="btn btn-primary" (click)="refresh()" [disabled]="waitingForUpdate">
          Aktualisieren
        </button>
        <div *ngIf="waitingForUpdate" class="spinner-border text-primary ml-3" role="status">
          <span class="sr-only">Aktualisieren...</span>
        </div>
      </div>
      <p>
        {{lastModified}}
      </p>
    </div>
  </div>
</div>
